<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts::header"></head>
<body>

	<nav th:replace="layouts::navbar"></nav>

	<div class="container mt-3">
		<div>
			<h3>Current Employees</h3>
			<hr>
			
			<a th:href="@{/employees/new}" class="btn btn-primary btn-sm mb-3">New Employee</a>
			
			<table class="table table-bordered table-striped">
				<thead  class="thead-dark">
					<th>Employee firstname</th>
					<th>Employee lastname</th>
					<th>Employee email</th>
				</thead>
				<tbody>
					<tr th:each="employee : ${employees}">
						<td th:text="${employee.firstName}"></td>
						<td th:text="${employee.lastName}"></td>
						<td th:text="${employee.email}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>